VITE_DANSSHIP_API_URL=https://backend.url.here

VITE_ARE_USER_PAGES_ENABLED=true
VITE_USER_PAGES={"isClassesPageEnabled":true,"isFigureCompletedPageEnabled":true,"isPaymentsResultsPageEnabled":true,"isFigureSavedPageEnabled":true,"isFiguresPageEnabled":true,"isFiguresDetailsPageEnabled":true,"isInstructorDashboardPageEnabled":true,"isMyAccountBookingsPageEnabled":true,"isMyAccountSubscriptionPageEnabled":true,"isProfilePageEnabled":true,"isProfileEditPageEnabled":true,"isStudioRentalBrowsePageEnabled":true,"isStudioRentalRequestsPageEnabled":true}
VITE_ARE_AUTH_PAGES_ENABLED=true
VITE_AUTH_PAGES={"isLoginPageEnabled":true,"isSignupPageEnabled":true,"isForgotPasswordPageEnabled":true,"isResetPasswordPageEnabled":true,"isVerifyEmailPageEnabled":true,"isOnboardingPageEnabled":true}
VITE_ARE_ADMIN_PAGES_ENABLED=true
VITE_ADMIN_PAGES={"isAdminAccessPageEnabled":true,"isAdminPageEnabled":true,"isAdminAgendaPageEnabled":true,"isAdminAgendaConflictsPageEnabled":true,"isAdminBookingsPageEnabled":true,"isAdminFiguresPageEnabled":true,"isAdminInventoryPageEnabled":true,"isAdminMerchPageEnabled":true,"isAdminMerchPosPageEnabled":true,"isAdminPaymentsPageEnabled":true,"isAdminReportsPageEnabled":true,"isAdminScheduleBuilderPageEnabled":true,"isAdminStudioRentalPageEnabled":true}
