VITE_DANSSHIP_API_URL=https://backend.url.here

# AUTH
VITE_ARE_AUTH_PAGES_ENABLED=true
VITE_IS_LOGIN_PAGE_ENABLED=true
VITE_IS_SIGNUP_PAGE_ENABLED=true
VITE_IS_FORGOT_PASSWORD_PAGE_ENABLED=true
VITE_IS_RESET_PASSWORD_PAGE_ENABLED=true
VITE_IS_VERIFY_EMAIL_PAGE_ENABLED=true
VITE_IS_ONBOARDING_PAGE_ENABLED=true

# COMMON
VITE_IS_CLASSES_PAGE_ENABLED=true
VITE_IS_FIGURE_COMPLETED_PAGE_ENABLED=true
VITE_IS_FIGURE_DETAILS_PAGE_ENABLED=true
VITE_IS_FIGURE_SAVED_PAGE_ENABLED=true
VITE_IS_FIGURES_PAGE_ENABLED=true
VITE_IS_FIGURES_DETAILS_PAGE_ENABLED=true
VITE_IS_INSTRUCTOR_DASHBOARD_PAGE_ENABLED=true
VITE_IS_MY_ACCOUNT_BOOKINGS_PAGE_ENABLED=true
VITE_IS_MY_ACCOUNT_SUBSCRIPTION_PAGE_ENABLED=true
VITE_IS_PROFILE_PAGE_ENABLED=true
VITE_IS_PROFILE_EDIT_PAGE_ENABLED=true
VITE_IS_STUDIO_RENTAL_BROWSE_PAGE_ENABLED=true
VITE_IS_STUDIO_RENTAL_REQUESTS_PAGE_ENABLED=true

# ADMIN
VITE_ARE_ADMIN_PAGES_ENABLED=true
VITE_IS_ADMIN_ACCESS_PAGE_ENABLED=true
VITE_IS_ADMIN__PAGE_ENABLED=true
VITE_IS_ADMIN_AGENDA_PAGE_ENABLED=true
VITE_IS_ADMIN_AGENDA_CONFLICTS_PAGE_ENABLED=true
VITE_IS_ADMIN_BOOKINGS_PAGE_ENABLED=true
VITE_IS_ADMIN_FIGURES_PAGE_ENABLED=true
VITE_IS_ADMIN_INVENTORY_PAGE_ENABLED=true
VITE_IS_ADMIN_MERCH_PAGE_ENABLED=true
VITE_IS_ADMIN_MERCH_POS_PAGE_ENABLED=true
VITE_IS_ADMIN_PAYMENTS_PAGE_ENABLED=true
VITE_IS_ADMIN_REPORTS_PAGE_ENABLED=true
VITE_IS_ADMIN_SCHEDULE_BUILDER_PAGE_ENABLED=true
VITE_IS_ADMIN_STUDIO_RENTAL_PAGE_ENABLED=true
