@import "tailwindcss";
@import "tw-animate-css";
@import "./animations.css";
@import "polpo-tailwind-config/styles" theme(static);
@import "polpo/components.css";

@font-face {
  font-family: 'guntertest';
  src: url('/assets/fonts/guntertest-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --animate-fade-in-down: fade-in-down 300ms ease-out forwards;
  --animate-glitch: glitch 1s linear infinite;
  --animate-gradients-floatA: floatA 2s ease infinite alternate;
  --animate-gradients-floatB: floatB 2s ease infinite alternate;

  /* ================================================
   * COLORS
   * ================================================ */
  --color-active: hsl(147 100% 35%);
  --color-active-foreground: var(--color-active-50);
  --color-alert: hsl(359 90% 62%);
  --color-alert-foreground: var(--color-alert-50);
  --color-warning: hsl(38 100% 50%);
  --color-warning-foreground: var(--color-warning-50);
  --color-info: hsl(210 100% 51%);
  --color-info-foreground: var(--color-info-50);
  --color-primary: hsl(268 56% 30%);
  --color-primary-foreground: var(--color-primary-50);
  --color-secondary: hsl(37 93% 88%);
  --color-secondary-foreground: var(--color-secondary-900);
  --color-tertiary: hsl(347 94% 82%);
  --color-tertiary-foreground: var(--color-tertiary-50);
  --color-highlight: hsl(7 81% 57%);
  --color-highlight-foreground: var(--color-highlight-900);
  --color-accent: hsl(285 26% 70%);
  --color-accent-foreground: var(--color-accent-800);


  /* ================================================
   * STATES
   * ================================================ */
  --color-background: var(--color-secondary-200);
  --color-background-paper: var(--color-gray-50);
  --color-background-disabled: var(--color-gray-100);
  --color-foreground: hsl(32 54% 13%);
  --color-foreground-disabled: var(--color-gray-900);
  --color-border: hsl(300 18% 79%);

  /* ================================================
   * DIMENSIONS
   * ================================================ */
  --spacing: 0.25rem;
  --radius: 0.25rem;

  /* ================================================
   * TYPOGRAPHY
   * ================================================ */
  --font-main: 'Montserrat Alternates', 'Segoe UI', sans-serif;
  --font-title: 'Josefin Sans', var(--font-main);
  --font-brand: guntertest, var(--font-title);
  --font-code: ui-monospace, Consolas, monospace;
  --text-small: 0.75rem;
  --text-small--line-height: 1.6;
  --text-small--font-weight: regular;
  --text-label: 0.875rem;
  --text-label--line-height: 1.6;
  /* BODY */
  --text-body: 1rem;
  --text-body--line-height: 1.6;
  --text-body--font-weight: regular;
  --text-body--letter-spacing: 0;
  /* HEADER4 */
  --text-header4: clamp(1.2rem, 3vw, 1.5rem); /* min=19.2px, max=24px, screen=[640px, 800px] */
  --text-header4--line-height: 1.4;
  --text-header4--font-weight: bold;
  --text-header4--letter-spacing: 0;
  /* HEADER3 */
  --text-header3: clamp(1.5rem, 4vw, 2rem); /* min=24px, max=32px, screen=[600px, 800px] */
  --text-header3--line-height: 1.4;
  --text-header3--font-weight: bold;
  --text-header3--letter-spacing: -1px;
  /* HEADER2 */
  --text-header2: clamp(2rem, 6vw, 3rem); /* min=32px, max=48px, screen=[533px, 800px] */
  --text-header2--line-height: 1.4;
  --text-header2--font-weight: bold;
  --text-header2--letter-spacing: -2px;
  /* HEADER1 */
  --text-header1: clamp(3rem, 8vw, 4rem); /* min=48px, max=64px, screen=[600px, 800px] */
  --text-header1--line-height: 1.4;
  --text-header1--font-weight: bold;
  --text-header1--letter-spacing: -3px;
  /* HERO */
  --text-hero: clamp(4rem, 10vw, 5.5rem); /* min=64px, max=88px, screen=[640px, 880px] */
  --text-hero--line-height: 1.4;
  --text-hero--font-weight: bolder;
  --text-hero--letter-spacing: -4px;

  /* ================================================
   * BREAKPOINTS
   * ================================================ */
  --breakpoint-2xs: 360px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;

  --background-image-gradient-plan-recommended: radial-gradient(circle at bottom center, var(--color-primary-300), var(--color-primary-600));
  --background-image-gradient-plan-selector: linear-gradient(to bottom, var(--color-secondary-200), var(--color-secondary-600));
  --background-image-gradient-plan-card: linear-gradient(to bottom, var(--color-secondary-400), var(--color-secondary-100));
  --background-image-gradient-auth: linear-gradient(-135deg, var(--color-highlight), var(--color-primary));
  --background-image-gradient-onboarding: linear-gradient(to bottom, var(--color-secondary-300) 50%, hsl(from var(--color-primary) h s 90%));

  --background-image-gradient-hero: linear-gradient(to bottom, var(--color-accent-300), transparent);
  --background-image-gradient-primary: linear-gradient(135deg, var(--color-primary-100), var(--color-primary-400));
  --background-image-gradient-primary-transparent: linear-gradient(135deg, hsl(from var(--color-primary-100) h s l / 90%), hsl(from var(--color-primary-400) h s l / 90%));
  --background-image-gradient-secondary: linear-gradient(135deg, var(--color-secondary-100), var(--color-secondary-400));
  --background-image-gradient-secondary-transparent: linear-gradient(135deg, hsl(from var(--color-secondary-100) h s l / 20%), hsl(from var(--color-secondary-400) h s l / 20%));

  --color-card: var(--color-secondary-300);
  --color-card-foreground: var(--color-secondary-800);
  --color-popover: var(--color-secondary);
  --color-popover-foreground: var(--color-secondary-800);
  --color-muted: hsl(35 88% 95%);
  --color-muted-foreground: hsl(334 7% 29%);
  --color-surface-container-low: hsl(34 93% 94%);
  --color-surface-container: hsl(35 96% 91%);
  --color-surface-container-highest: hsl(35 58% 86%);
  --color-primary-container: var(--color-primary);
  --color-primary-fixed-dim: var(--color-primary-300);
  --color-destructive: hsl(10 77% 48%);
  --color-destructive-foreground: hsl(34 66% 95%);
  --color-error-container: hsl(12 100% 92%);
  --color-tertiary-container: hsl(343 44% 28%);
  --color-on-tertiary-container: hsl(347 66% 74%);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
    height: 0;
  }

  :root {
    --uplift: 10vh;
  }
}

@layer utilities {
  .girl-in-corner {
    background-image: url("/assets/images/bg-girl.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right 1rem bottom 1rem, left 1rem bottom 1rem;
    background-attachment: fixed;
    background-size: 240px auto, 140px auto;
  }

  @media (max-width: 640px) {
    .girl-in-corner {
      background-position: right 1.5rem bottom 1.5rem, left 0.75rem bottom 0.75rem;
      background-size: 180px auto, 96px auto;
    }
  }

  .card {
    @apply bg-card text-card-foreground rounded-lg shadow-sm;
  }

  .home-hero {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    grid-template-areas: 'image' 'text';
    justify-items: center;
  }

  @media (min-width: 768px) {
    .home-hero {
      grid-template-columns: auto auto;
      grid-template-areas: 'image text';
      justify-items: initial;
    }
  }

  @media (min-width: 1024px) {
    .home-hero {
      grid-template-areas: 'text image';
    }
  }
}
